<div class="container">
  <div class="class mt-4">
    <h1>Your order has been confirmed!</h1>

    <p>Thank you for your purchase. We appreciate your business!</p>
  </div>

  <div class="suggestedItems">
    <h2>You might also be interested in...</h2>
  </div>
  </div>
</div>

<%= render "pages/popular_gifts", products: @products %>
