<div class="container">
  <div class="row">
    <h1 class="title"><%= @order.products.count %> items in your basket</h1>
    <div class="protection">
      Buy confidently with Etsy's Purchase Protection programme for buyers, get a full refund in the rare case your item doesn't arrive, arrives damaged, or isn't as described. See eligibility
    </div>
  </div>
  <div class="content">
    <div class="col-lg-7 col-md-7">
      <div class="basket-card">

      </div>
    </div>
  </div>

</div>
