<h3 class="red">Popular gifts right now</h3>
<%# Uppersection %>
<div class="body">
  <div class="cards">
    <div class="card"></div>
    <div class="text">
      <span>Desription</span><br>
      <span>⭐️⭐️⭐️⭐️⭐️</span><br>
      <span>$12.32</span>
    </div>
  </div>

  <div class="cards">
    <div class="card"></div>
    <div class="text">
      <span>Desription</span><br>
      <span>⭐️⭐️⭐️⭐️⭐️</span><br>
      <span>$12.32</span>
    </div>
  </div>

  <div class="cards">
    <div class="card"></div>
    <div class="text">
      <span>Desription</span><br>
      <span>⭐️⭐️⭐️⭐️⭐️</span><br>
      <span>$12.32</span>
    </div>
  </div>

  <div class="cards">
    <div class="card"></div>
    <div class="text">
      <span>Desription</span><br>
      <span>⭐️⭐️⭐️⭐️⭐️</span><br>
      <span>$12.32</span>
    </div>
  </div>

  <div class="cards">
    <div class="card"></div>
    <div class="text">
      <span>Desription</span><br>
      <span>⭐️⭐️⭐️⭐️⭐️</span><br>
      <span>$12.32</span>
    </div>
  </div>
</div>


  <h3>Shop our popular gift categories</h3>

  <div class="body">
    <div class="cards">
      <div class="card"></div>
      <div class="text text-center">
        <p>Anniversary gifts</p>
      </div>
    </div>
     <div class="cards">
      <div class="card"></div>
      <div class="text text-center">
        <p>Gifts for him</p>
      </div>
    </div>
     <div class="cards">
      <div class="card"></div>
      <div class="text text-center">
        <p>Gifts for her</p>
      </div>
    </div>
     <div class="cards">
      <div class="card"></div>
      <div class="text text-center">
        <p>personalised gift ideas</p>
      </div>
    </div>
     <div class="cards">
      <div class="card"></div>
      <div class="text text-center">
        <p>Wedding gifts</p>
      </div>
    </div>
  </div>

<div>
  <div class="text-center">
    <h2>What is Etsy?</h2>
    <p>Read our wonderfully weird story</p>
  </div>

  <div class="d-flex justify-content-around">
    <div class="w-25">
      <p>A community doing good</p>
      <p>Etsy is a global online marketplace, where people come together to make,
      sell, buy and collect unique items. We’re also a community pushing for positive
      change for small businesses, people, and the planet. Here are some of the ways
      we’re making a positive impact, together.</p>
    </div>
    <div class="w-25">
      <p>Support independent creators</p>
      <p>There’s no Etsy warehouse – just millions of people selling the things they
      love. We make the whole process easy, helping you connect directly with makers to
      find something extraordinary.</p>
    </div>
    <div class="w-25">
      <p>Peace of mind</p>
      <p>Your privacy is the highest priority of our dedicated team. And if you ever need
       assistance, we are always ready to step in for support.</p>
    </div>
  </div>
  <div class="text-center">
    <p>Have a question? Well, we’ve got some answers.</p>
    <p>Button: Go to Help Center</p>
  </div>
  <form action="#" class="text-center">
    <label for="subcribe">Yes! Send me exclusive offers, unique gift ideas, and personalised tips for shopping and selling on Etsy.</label><br>
    <input type="text">
    <button>sibcribe</button>
  </form>

</div>
