<div id="left-menus-wrapper">
  <% @parent_categories.each do |parent_category| %>
    <div
      class="left-menu"
      data-parent-id="<%= parent_category.id %>"
      data-navbar-target="leftMenu"
      >
      <li><a href="#">All <%= parent_category.name %> →</a></li>

      <% parent_category.find_children.each do |sub_category| %>
        <li
          data-id="<%= sub_category.id %>"
          data-action="mouseover->navbar#changeRightMenu">
          <%= sub_category.name %>
        </li>
      <% end %>

    </div>
  <% end %>
</div>
