<div id="left-menus-wrapper">
  <% Category.main.each do |parent_category| %>
    <div class="left-menu">
      <li><a href="#">All <%= parent_category.name %> →</a></li>
      <% parent_category.find_children.each do |sub_category| %>
        <li><%= sub_category.name %></li>
      <% end %>
    </div>
  <% end %>
</div>
