
<% level_2_category.find_children.each do |level_3_category| %>
  <div class="sub-menu-items">
    <h4><%= link_to level_3_category.name, category_path(level_3_category) %></h4>

    <%
    # Only load menu if there are children
    if level_3_category.children? %>
      <ul>
        <% level_3_category.find_children.each do |child| %>
          <li><%= link_to child.name, category_path(child) %></li>
        <% end %>
      </ul>
    <% end %>

  </div>
<% end %>
