<div id="right-menus-wrapper">

  <% @sub_categories.each do |sub_categories| %>
    <div class="right-menu">
      <% sub_categories.each do |sub_category| %>
        <div class="sub-menu-items">
          <h4><%= sub_category.name %></h4>
          <%
          # Only load menu if there are children
          if sub_category.children? %>
            <ul>
              <% sub_category.find_children.each do |child| %>
                <li><%= child.name %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
