<div id="right-menus-wrapper">
  <%# @sub_categories: [[sub_categories], [sub_categories]]  %>
  <% @sub_categories.each do |categories_level_2| %>
    <% categories_level_2.each do |level_2_category| %>

      <div
        class="right-menu"
        data-parent-id="<%= level_2_category.id %>"
        data-navbar-target="rightMenu">
        <%= render 'shared/navigation/level_3_menu', level_2_category: level_2_category %>
      </div>

    <% end %>
  <% end %>
</div>
