// .all-cards {
//   border-radius: 5px;
//   transition: 300ms ease;
//   height: 100px;
// }

// .cards:hover {
//   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//   margin: 2px;
// }

// .card {
//   background-size: cover;
//   border-radius: 5px;
//   height: 70%;
// }

// .text {
//   padding: 0;
//   margin: 0;
//   font-size: 14px;
//   height: 20%;
//   line-height: 1;
// }

.popular-gift-card {
  width: 25%;
}

.circle {
  width: 200px; /* Adjust the width and height as needed */
  height: 200px;
  border-radius: 50%; /* This creates a circular shape */
  overflow: hidden; /* This ensures the image stays within the circle */
}

.help-button {
  color: black;
  font: 16px;
  margin: 12px 0px 0px;
  padding: 10px;
  border-radius: 15%;
}

.page h3 {
  padding-top: 20px;
}
