.card {
  background-size: cover;
  border-radius: 5px;
  height: 70%;
}

.popular-gift-card {
  width: 25%;
}

.circle {
  width: 100px; /* Adjust the width and height as needed */
  height: 100px;
  border-radius: 50%; /* This creates a circular shape */
  overflow: hidden; /* This ensures the image stays within the circle */
}

.popular-gift-categories:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 2px;
}

.help-button {
  color: black;
  font: 16px;
  margin: 12px 0px 0px;
  padding: 10px;
  border-radius: 15%;
}

.page h3 {
  padding-top: 20px;
}

.rating-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.rating-stars-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  margin-right: 5px;
}

.star::before {
  content: "\2606"; /* Empty star icon */
  color: black;
}

.star.filled::before {
  content: "\2605"; /* Filled star icon */
}
