.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.categories {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  border-bottom: 1px solid grey;
  padding: 10px 10px;
}

.search-bar {
  position: relative;
  input {
    border-radius: 20px;
    width: 75vw;
    background-color: $search-bar;
    height: 40px;
  }
  button {
    position: absolute;
    right: 3px;
    top: 5px;
    border-radius: 0 10px 10px 0;
    border: 1px solid $search-bar;
  }
}
