.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.categories {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  border-bottom: 1px solid grey;
  padding: 10px 10px;
}

.search-bar {
  position: relative;
  input {
    border-radius: 20px;
    width: 75vw;
    background-color: $search-bar;
    height: 40px;
  }
  button {
    position: absolute;
    right: 3px;
    top: 5px;
    border-radius: 0 10px 10px 0;
    border: 1px solid $search-bar;
  }
}

#left-dropdown ul {
  li {
    list-style-type: none;
  }
}

button {
  border: none;
  background-color: none;
}

.category {
  position: relative;
}

.category > .main-dropdown:focus + .menu {
  opacity: 1;
  background-color: white;
  pointer-events: auto;
}

.right-main-menu {
  position: absolute;
  display: block;
}

.menu {
  position: absolute;
  display: flex;
  opacity: 0;
  width: 90vw;
  left: 0;
  top: calc(100% + 0.5rem);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: opacity 300ms ease-in-out;
  border-radius: 5px;
  padding: 10px;
  pointer-events: none;
  z-index: 1;
}

.right-accessories {
  opacity: 1;
}

#left-dropdown > a.accessories:hover ~ .menu #menu .right-accessories {
  display: block;
  background-color: aquamarine;
}

.show {
  opacity: 1;
}
